a {
    font-family: Lucida Grande;
    color: white;
    font-size: 30px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.left-plot {
    width: 50%;
    height: 1000px;
    float: left;
}

.right-plot {
    width: 50%;
    height: 1000px;
    float: right;
}

.center-plot {
    width: 100%;
    height: 1000px;
}

@media (max-width: 1920px) {
    .left-plot,
    .right-plot,
    .center-plot {
        width: 100%;
        height: 800px;
    }
}